:root{
    --base: #fa0666;
    --spacing: 10px;
    --blur: 10px;
}

img{
    width: 60%;
    height: 60%;
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
}

.highlight{
    color: var(--base);
}

body{
    text-align: center;
    background: #60869b;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 30px;
}

.controls{
    margin-bottom: 50px;
}

input{
    width: 100px;
}